<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <title>Home</title>
    </head> 
<body>
  <header>
    
    <nav class="navbar">
      <a class="navbar-brand">Heads Up </a>

       <form action="/calendar/new-event" method="GET"> 
      <button class="btn btn-outline-success" button action="submit"> Create New Event </button>
</form>
      <form action="/logout" method="GET"form class="form-inline"> 
        <button class="btn btn-sm btn-outline-secondary" button action="submit"> Logout </button>
      </form>
   </form>
   
  </header></nav>

    <section class="vh-100" style="background-color: #325830b8;">
      <div class="container ">
        <div class="row d-flex justify-content-center align-items-center">
        
                      <div class=" text-center mt-5 ">
   
                             <h2>My Events</h1>

          </div>

     <% eventsCreator.forEach((userEvent) => { %>
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title"><%= userEvent.date %></h5>
          <p class="card-text"><b><%= userEvent.title %></b></p>
          <p class="card-text"><%= userEvent.description %></p>
          
          <div class="d-flex flex-row">
            <form class="mx-1" method="POST" action="/calendar/delete-event/<%= userEvent.id %>?_method=DELETE">
             <button type="submit"><i class="bi-trash-fill" style="pointer-events: none"></i></button>
            </form>
            <form class="mx-1" method="GET" action="/calendar/modify-event/<%= userEvent.id %>">
             <button type="submit"><i class="bi-pencil" style="pointer-events: none"></i></button>
           </form>
         
          </div></div></div>
    <% }) %>

         
    <br>

    <div class=" text-center">

    <h2>Invited Events</h1>
    </div>
    <% eventsInvitee.forEach((userEvent) => { %>
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title"><%= userEvent.title %></h5>
          <p class="card-text"><%= userEvent.description %></p>
          <p class="card-text"><%= userEvent.title %></p>
        
          <div class="d-flex flex-row">
        <form class="mx-1" method="POST" action="/calendar/delete-event/<%= userEvent.id %>?_method=DELETE">
         <button type="submit"><i class="bi-trash-fill" style="pointer-events: none"></i></button>
        </form>
        <form class="mx-1" method="GET" action="/calendar/modify-event/<%= userEvent.id %>">
         <button type="submit"><i class="bi-pencil" style="pointer-events: none"></i></button>
       </form>
    <% }) %>


      </section>
      





        </div></div></div>



  </footer>

</body>
</html>



